In [22]:
from pandas import read_csv
action_space = read_csv('gym_TLMN/envs/action_space.csv')
action_space

     Unnamed: 0         hand_name  ...     last_card          action_code
0             0           Nothing  ...       Nothing           Nothing_-1
1             1            Single  ...       3_Spade             Single_0
2             2            Single  ...        3_Club             Single_1
3             3            Single  ...     3_Diamond             Single_2
4             4            Single  ...       3_Heart             Single_3
..          ...               ...  ...           ...                  ...
398         398  4_pairs_straight  ...  King_Diamond  4_pairs_straight_42
399         399  4_pairs_straight  ...    King_Heart  4_pairs_straight_43
400         400  4_pairs_straight  ...      Ace_Club  4_pairs_straight_45
401         401  4_pairs_straight  ...   Ace_Diamond  4_pairs_straight_46
402         402  4_pairs_straight  ...     Ace_Heart  4_pairs_straight_47

[403 rows x 5 columns]

In [25]:
k = [0, 1, 4, 5, 7, 9, 27, 28, 34, 35, 38, 46, 47, 48, 55, 57, 73, 78, 87, 88, 115, 130]
action_space.loc[k]

     Unnamed: 0    hand_name  hand_score     last_card     action_code
0             0      Nothing        -1.0       Nothing      Nothing_-1
1             1       Single         0.0       3_Spade        Single_0
4             4       Single         3.0       3_Heart        Single_3
5             5       Single         4.0       4_Spade        Single_4
7             7       Single         6.0     4_Diamond        Single_6
9             9       Single         8.0       5_Spade        Single_8
27           27       Single        26.0     9_Diamond       Single_26
28           28       Single        27.0       9_Heart       Single_27
34           34       Single        33.0     Jack_Club       Single_33
35           35       Single        34.0  Jack_Diamond       Single_34
38           38       Single        37.0    Queen_Club       Single_37
46           46       Single        45.0      Ace_Club       Single_45
47           47       Single        46.0   Ace_Diamond       Single_46
48           48       Single        47.0     Ace_Heart       Single_47
55           55         Pair         3.0       3_Heart          Pair_3
57           57         Pair         6.0     4_Diamond          Pair_6
73           73         Pair        27.0       9_Heart         Pair_27
78           78         Pair        34.0  Jack_Diamond         Pair_34
87           87         Pair        46.0   Ace_Diamond         Pair_46
88           88         Pair        47.0     Ace_Heart         Pair_47
115         115  3_of_a_kind        47.0     Ace_Heart  3_of_a_kind_47
130         130   3_straight         8.0       5_Spade    3_straight_8